$medium:3rem;
$tw-color:#1da1f2;
$be-color:#1769ff;
$fa-color:#1877f2;
$vi-color:#1ab7ea;
$snap-color:#fffc00;
$air-color:#fd5c63;
$amz-color:#ff9900;
$and-color:#a4c639;
$stc-color:#4ca2da;
$ubu-color:#77216f;
$git-color:#4078c0;
$js-color:#f7df1e;